---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
---
<MainLayout title="Titel">
	<article>
		<p>Index indhold blbla bla bla den nye branch</p>
	</article>
</MainLayout>